extend layout
block content
    h3= message
    section.main-content
        p=input
    section#one.wrapper
        table
            tr
                th Score
                th TSC Name
                th Category
                th Level
                th Description
                th Knowledge
                th Abilities
            for item in results
                tr
                    th= item.score
                    th= item.tsc.name
                    th= item.tsc.category
                    th= item.tsc.level
                    th= item.tsc.description
                    th= item.tsc.knowledge
                    th= item.tsc.abilities
